{% extends "base_layout.html" %}
{% block title %}About{% endblock %}

{% block heading %}
About
{% endblock %}

{% block content %}
<p>This website uses the <a href="https://api.tfl.gov.uk">TfL API</a> to display live information about bicycle hire (Santander Cycles fka Barclays Bikes aka Boris Bikes) in London. It is written with <a href="http://flask.pocoo.org">Flask</a> (a <a href="https://www.python.org">Python</a> webapp microframework) and <a href="http://getbootstrap.com">Bootstrap</a> (a library that provides CSS and JavaScript for web design).</p>

<p>More information about this project can be found at its <a href="https://github.com/rjwebb/tfl-bikepoints/">GitHub project page</a>.</p>

<p>This application is developed by <a href="http://rjwebb.github.io">Robert Webb</a> - who is open to job offers.</p>

<p>This project is not affiliated with TfL, Santander, Barclays, etc etc.</p>
{% endblock %}
