{% macro leaflet_js() %}
<!-- Leaflet.js stuff (mapping) -->
<link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}" />
<script src="{{ url_for('static', filename='leaflet.js') }}"></script>
{% endmacro %}

{% macro leaflet_markercluster_js() %}
<!-- Library for clustering markers together -->
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
<link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css" rel="stylesheet" />
<link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css" rel="stylesheet" />
{% endmacro %}

{% macro leaflet_awesomemarkers_js() %}
<!-- Library for nice custom icons -->
<link href="{{ url_for('static', filename='leaflet.awesome-markers.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='ionicons.min.css') }}">
<script src="{{ url_for('static', filename='leaflet.awesome-markers.min.js') }}"></script>
{% endmacro %}

{% macro leaflet_tooltips_js() %}
<!-- Library for Leaflet tooltips -->
<link href="{{ url_for('static', filename='leaflet.tooltip.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='leaflet.tooltip.js') }}"></script>
{% endmacro %}

{% macro markermap_js(marker_data, map_bounds) -%}
<script type="text/javascript">
// this just states that we're using ion icons
L.AwesomeMarkers.Icon.prototype.options.prefix = 'ion';

// the locations of the bicycle hire locations
var marker_data = {{ marker_data | safe }};

// create the map
var map = L.map('map');

// add the OpenCycleMap layer
var OCMSrc = 'https://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png';
var OCMAttrib = 'Maps &copy; Thunderforest, Data &copy; OpenStreetMap contributors.';
L.tileLayer(OCMSrc,{
    attribution: OCMAttrib
}).addTo(map);

// add the markers
var markers = new L.MarkerClusterGroup({
    maxClusterRadius: 60
});
for(var i=0;i < marker_data.length;i++){
    var m = marker_data[i];
    var marker = L.marker(m.pos, {
	alt: m.name,
	icon: L.AwesomeMarkers.icon({
	    icon: 'ion-android-bicycle',
	    markerColor: 'red'
	}),
	tooltip: {
	    html: m.name,
	    showDelay: 0,
	    hideDelay: 0,
	    mouseOffset: L.point(-20,-40)
	},
	url: m['url']
    });
    marker.on('click', function(e){
	window.open(this.options.url);
    });
    markers.addLayer(marker);
}
map.addLayer(markers);

// zoom the map to show all the markers
map.fitBounds(markers.getBounds());

// add the scale bar
L.control.scale().addTo(map);
</script>

{%- endmacro %}
